<!DOCTYPE html>
<html>
<head>
    <title>Загрузка фото</title>
</head>
<body>
    <h1>Загрузка фото</h1>

    <form action="/{{id}}camera" method="post" enctype="multipart/form-data">
        <input type="file" name="photo">
        <input type="submit" value="Загрузить">
    </form>

    {% if photo_url %}
    <h2>Загруженное фото:</h2>
      <img src="{{ url_for('static', filename='Photos/' + photo_url) }}" alt="Загруженное фото">
        <h5>{{number_of_people}}</h5>
    {% endif %}
</body>
</html>v